<?xml version="1.0" encoding="utf-8" ?>
<xaseco2_plugins>
	<plugin>plugin.localdatabase.php</plugin>
	<plugin>chat.admin.php</plugin>
	<plugin>chat.help.php</plugin>
	<plugin>plugin.mxinfo.php</plugin>
	<plugin>plugin.map.php</plugin>
	<plugin>plugin.chatlog.php</plugin>
	<plugin>plugin.uptodate.php</plugin>
	<plugin>plugin.donate.php</plugin>
	<plugin>plugin.rasp.php</plugin>
	<plugin>plugin.records_eyepiece_enduro.php</plugin>
</xaseco2_plugins>
